---
title: My Story
layout: default
---

<style>
</style>

<div class="container max-w-3xl mt-6 px-6">

  <h1 class="font-bold text-5xl">{{title}}</h1>

  <section class="container mx-auto px-4 p-10">
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <img class="about-calinda" style="width: 300px; height: 300px; object-fit: contain;"
          src="/static/img/DSC_4197.jpg"
          alt="Calinda Lee, PhD" />
      </div>
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">Calinda Lee, PhD</h4>
        <p class="text-gray-600 mb-8">founded Sources Cultural Resources Management, LLC with a philosophy of courageous
          curiosity—fearlessly exploring the past to develop cultural institutions and experiences committed to truth
          and innovation. Sources provides historically-resonant inclusive interpretation in exhibitions, programs, and
          media. Whether focused on institution-building or smaller curatorial projects, Lee’s work connects
          contemporary concerns to history in meaningful, personal, and often surprising ways.</p>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full">
          <p class="text-gray-600 mb-8">It is Calinda’s deep belief that information must be deployed creatively –and
            always intimately linked with community needs—to be of greatest service: “I try to make history personal
            every day, to connect lessons from the past to living in the present and planning for the future.” </p>
          <p class="text-gray-600 mb-8">Educated at Spelman College (BA), New York University (MA) and Emory University
            (MA and PhD), Calinda’s historical expertise is distinguished by impeccable research that informs inspiring
            and frame changing storytelling in the present. Prior to establishing Sources as a full-service consulting
            firm, Lee served as the Head of Interpretation at the National Center for Civil and Human Rights. She joined
            the executive leadership team at The Center to oversee its mission-focused work. In that role, she directed
            Education and Exhibitions teams as well as new community partnership efforts.</p>
          <p class="text-gray-600 mb-8">As Vice President of Historical Interpretation and Community Engagement for the
            Atlanta History Center, Lee served as chief historian, considering historical interpretation for all aspects
            of the region’s past to develop the AHC’s primary collections, historic houses, historic gardens, and public
            programs. Calinda also developed and led the AHC’s Community Engagements, featuring its signature
            Neighborhoods Initiative. Balancing executive and creative roles, she curated the award-winning cornerstone
            exhibition Gatheround: Stories of Atlanta in addition to developing a number of other programs and
            exhibitions.</p>
          <p class="text-gray-600 mb-8">As a scholar of 20th Century United States History (specializing in post-WWII African American social
            history) and administrator, Dr. Lee has held teaching and administrative positions at Emory University,
            Loyola University Chicago, and Spelman College. A prolific practitioner, she is recognized curator, writer,
            and educator. In addition to the engagements above, Lee she has worked with institutions throughout the
            world including the State of Georgia, United States State Department (in Canada and Colombia), Intel,
            Albuquerque Museum of Art and History, the City Museum of Washington, DC, the Reginald Lewis Maryland Museum
            for African American Life and History, the Chicago History Museum, and others. </p>
        </div>
      </div>

  </section>

  <!-- {{ content | safe }} -->

</div>