---
title: Media
layout: default
---

<style>
    .image-wrap {
	padding: 16px;
}

.image-masonry {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #353535;
	font-size: 3rem;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
		rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 600px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}
}

</style>

<div class="container max-w-6xl mt-6 px-6">

    <h1 class="font-bold text-5xl">{{title}}</h1>

    <section class="image-wrap">
        <div class="image-masonry">
			<div class="card card-tall card-wide" style="background-image: url('/static/img/gallery/IMG_0352.jpeg')"></div>
			<div class="card card-tall" style="background-image: url('/static/img/gallery/IMG_2268.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/JWJI Medal Photo.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_3269.jpeg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_3533.jpeg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_2525.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_2660.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_4256.jpg')"></div>
			<div class="card card-wide" style="background-image: url('/static/img/gallery/Hub.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/MalcolmCalindaCinqueLee-McIverPlaza2012.1.19.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_8735.jpeg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_1957.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_6014.jpeg')"></div>
			<div class="card card-wide" style="background-image: url('/static/img/gallery/IMG_1197.jpeg')"></div>
			<div class="card card-tall" style="background-image: url('/static/img/gallery/IMG_5758.jpg')"></div>
			<div class="card card-tall" style="background-image: url('/static/img/gallery/IMG_5163.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_0927.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_3869.jpeg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_5307.jpg')"></div>
			<div class="card" style="background-image: url('/static/img/gallery/IMG_8735.jpeg')"></div>
<!-- 
			<a class="card card-tall card-wide" href="https://www.washingtonpost.com/lifestyle/magazine/atlantas-cyclorama-had-the-black-role-in-a-civil-war-battle-all-wrong-she-set-about-to-fix-that/2019/03/26/66d89688-3ae0-11e9-a2cd-307b06d0257b_story.html">
				<div class="card card-tall card-wide" style="background-image: url('/static/img/media_assets/WaPo_3_26_19.png')"></div>
			</a>
			<a class="card card-tall" href="https://www.ajc.com/life/new-leader-has-big-plans-for-the-national-center-for-civil-and-human-rights/WKPF6IATNBH6VAOFVDOHQHIIXA/">
            	<div class="card card-tall" style="background-image: url('/static/img/media_assets/TAJC_12_18_20_mobile.png')"></div>
			</a>
			<a class="card" href="https://www.ajc.com/life/atlanta-history-center-vp-calinda-lee-leaving-for-post-at-center-for-civil-and-human-rights/JHPENHBT6BFLTLBU3D77XAZHVI/">
				<div class="card" style="background-image: url('/static/img/media_assets/TAJC_11_12_20.png')"></div>
			</a>
			<a class="card" href="https://www.ajc.com/entertainment/arts--theater/atlanta-history-center-exhibit-showcases-fight-for-black-citizenship/4tw3Cw4ZbPF6NqIUCwjwPJ/">
				<div class="card" style="background-image: url('/static/img/media_assets/TAJC_02_07_20.png')"></div>
			</a>
			<a class="card card-tall" href="https://www.wabe.org/podcasts/city-lights/city-lights-black-citizenship-in-the-age-of-jim-crow-scott-stewarts-st-patrick-day-music-picks/">
				<div class="card" style="background-image: url('/static/img/media_assets/WABE_03_16_20_mobile.png')"></div>
			</a>
			<a class="card" href="https://omny.fm/shows/stuff-you-missed-in-history-class/interview-dr-calinda-lee-of-the-atlanta-history-ce">
				<div class="card" style="background-image: url('/static/img/media_assets/SYMIH_02_26_20.PNG')"></div>
			</a>
			<a class="card" href="https://www.gpb.org/news/2020/01/20/political-rewind-special-edition-reconstruction-and-era-of-jim-crow">
				<div class="card" style="background-image: url('/static/img/media_assets/GPB_01_20_20.png')"></div>
			</a>
			<a class="card" href="https://mlk.wabe.org/dr-kings-funeral-lens-declan-haun/">
				<div class="card" style="background-image: url('/static/img/media_assets/WABE_03_28_18.png')"></div>
			</a>
			<a class="card card-wide" href="https://www.newyorker.com/culture/podcast-dept/atlanta-monster-in-pursuit-of-justice-and-a-hit-podcast">
				<div class="card card-wide" style="background-image: url('/static/img/media_assets/TNY_02_12_18.png')"></div>
			</a>
			<a class="card" href="https://www.ajc.com/lifestyles/atlanta-history-center-exhibit-shares-images-from-day-mlk-funeral/YHVRz86Tf8xlkir4UI8WlM/">
				<div class="card" style="background-image: url('/static/img/media_assets/TAJC_04_01_18.png')"></div>
			</a>
			<a class="card" href="https://www.atlantamagazine.com/news-culture-articles/atlanta-history-centers-new-exhibition-brings-more-citys-past-life/">
				<div class="card" style="background-image: url('/static/img/media_assets/A_06_28_16.png')"></div>
			</a>
			<a class="card card-wide" href="https://www.ajc.com/entertainment/arts--theater/atlanta-story-new-exhibit-opens-history-center/Yx0Z6S83NfMWTpTsU3yxbN/">
				<div class="card card-wide" style="background-image: url('/static/img/media_assets/TAJC_06_29_16.png')"></div>
			</a> -->
            
        </div>
    </section>
    <!-- {{ content | safe }} -->

</div>