---
title: Press
layout: default
---

<div class="container max-w-6xl mt-6 px-6">

    <h1 class="font-bold text-5xl">{{title}}</h1>

    <section class="container mx-auto px-6 p-10">
  
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.washingtonpost.com/lifestyle/magazine/atlantas-cyclorama-had-the-black-role-in-a-civil-war-battle-all-wrong-she-set-about-to-fix-that/2019/03/26/66d89688-3ae0-11e9-a2cd-307b06d0257b_story.html">
              <img src='/static/img/media_assets/WaPo_3_26_19.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Atlanta’s Cyclorama had the black role in a Civil War battle all wrong. She set about to fix that.</h4>
            <p class="">The Washington Post</p>
            <p class="text-gray-600 mb-8">March 26, 2019 at 9:00 a.m. EDT</p>
            <a href="https://www.washingtonpost.com/lifestyle/magazine/atlantas-cyclorama-had-the-black-role-in-a-civil-war-battle-all-wrong-she-set-about-to-fix-that/2019/03/26/66d89688-3ae0-11e9-a2cd-307b06d0257b_story.html">
              Read More >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.ajc.com/life/new-leader-has-big-plans-for-the-national-center-for-civil-and-human-rights/WKPF6IATNBH6VAOFVDOHQHIIXA/">
              <img src='/static/img/media_assets/TAJC_12_18_20_mobile.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">New leader has big plans for the National Center for Civil and Human Rights</h4>
            <p class="">The Atlanta Journal-Constitution</p>
            <p class="text-gray-600 mb-8">Dec 18, 2020</p>
            <a href="https://www.ajc.com/life/new-leader-has-big-plans-for-the-national-center-for-civil-and-human-rights/WKPF6IATNBH6VAOFVDOHQHIIXA/">
              Read More >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.ajc.com/life/atlanta-history-center-vp-calinda-lee-leaving-for-post-at-center-for-civil-and-human-rights/JHPENHBT6BFLTLBU3D77XAZHVI/">
              <img src='/static/img/media_assets/TAJC_11_12_20.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Atlanta History Center VP Calinda Lee leaving for post at Center for Civil and Human Rights</h4>
            <p class="">The Atlanta Journal-Constitution</p>
            <p class="text-gray-600 mb-8">Nov 12, 2020</p>
            <a href="https://www.ajc.com/life/atlanta-history-center-vp-calinda-lee-leaving-for-post-at-center-for-civil-and-human-rights/JHPENHBT6BFLTLBU3D77XAZHVI/">
              Read More >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.ajc.com/entertainment/arts--theater/atlanta-history-center-exhibit-showcases-fight-for-black-citizenship/4tw3Cw4ZbPF6NqIUCwjwPJ/">
              <img src='/static/img/media_assets/TAJC_02_07_20.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Atlanta History Center exhibit showcases fight for “Black Citizenship”</h4>
            <p class="">The Atlanta Journal-Constitution</p>
            <p class="text-gray-600 mb-8">Feb 7, 2020</p>
            <a href="https://www.ajc.com/entertainment/arts--theater/atlanta-history-center-exhibit-showcases-fight-for-black-citizenship/4tw3Cw4ZbPF6NqIUCwjwPJ/">
              Read More >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.wabe.org/podcasts/city-lights/city-lights-black-citizenship-in-the-age-of-jim-crow-scott-stewarts-st-patrick-day-music-picks/">
              <img src='/static/img/media_assets/WABE_03_16_20_mobile.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">City Lights: ‘Black Citizenship In The Age Of Jim Crow’; Scott Stewart’s St. Patrick Day Music Picks</h4>
            <p class="">90.1 FM WABE</p>
            <p class="text-gray-600 mb-8">March 16, 2020</p>
            <a href="https://www.wabe.org/podcasts/city-lights/city-lights-black-citizenship-in-the-age-of-jim-crow-scott-stewarts-st-patrick-day-music-picks/">
              Listen Now >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://omny.fm/shows/stuff-you-missed-in-history-class/interview-dr-calinda-lee-of-the-atlanta-history-ce">
              <img src='/static/img/media_assets/SYMIH_02_26_20.PNG'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Interview: Dr. Calinda Lee of the Atlanta History Center</h4>
            <p class="">Stuff You Missed in History Class</p>
            <p class="text-gray-600 mb-8">Feb 26, 2020, 11:26 AM</p>
            <a href="https://omny.fm/shows/stuff-you-missed-in-history-class/interview-dr-calinda-lee-of-the-atlanta-history-ce">
              Listen Now >>
            </a>
          </div>
        </div>

        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.gpb.org/news/2020/01/20/political-rewind-special-edition-reconstruction-and-era-of-jim-crow">
              <img src='/static/img/media_assets/GPB_01_20_20.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Political Rewind Special Edition: Reconstruction And Era Of Jim Crow</h4>
            <p class="">Georgia Public Broadcasting</p>
            <p class="text-gray-600 mb-8">January 20, 2020 3:21 PM</p>
            <a href="https://www.gpb.org/news/2020/01/20/political-rewind-special-edition-reconstruction-and-era-of-jim-crow">
              Listen Now >>
            </a>
          </div>
        </div>
       
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <a href="https://www.gpb.org/news/2020/01/20/political-rewind-special-edition-reconstruction-and-era-of-jim-crow">
              <img src='/static/img/media_assets/GPB_01_20_20.png'>
            </a>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Political Rewind Special Edition: Reconstruction And Era Of Jim Crow</h4>
            <p class="">Georgia Public Broadcasting</p>
            <p class="text-gray-600 mb-8">January 20, 2020 3:21 PM</p>
            <a href="https://www.gpb.org/news/2020/01/20/political-rewind-special-edition-reconstruction-and-era-of-jim-crow">
              Listen Now >>
            </a>
          </div>
        </div>

</div>