---
title: Services
layout: default
---

<div class="container max-w-6xl mt-6 px-6">

    <h1 class="font-bold text-5xl">{{title}}</h1>

    <section class="container mx-auto px-6 p-10">
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Exercise Metric</h4>
            <p class="text-gray-600 mb-8">Our Smart Health Monitoring Wristwatch is able to capture you vitals while you exercise. You can create different category of exercises and can track your vitals on the go.</p>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <img src="https://images.unsplash.com/photo-1496889196885-5ddcec5eef4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Monitoring" />
          </div>
        </div>

        <section>
          <div class="bg-gray-50">
            <div class="mx-auto max-w-4xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
              <div class="max-w-[30%] mt-8 flex lg:mt-0 lg:flex-shrink-0">
                <div class="inline-flex rounded-md">
                  <img class="mx-auto h-16 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                </div>
                <div class="ml-3 inline-flex rounded-md">
                  <p class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-600">Person or Company Name</a>
                </div>
              </div>
              <div class="max-w-[70%]">
                <section class="component rounded-md border border-transparent bg-gray-300 p-2 mx-1 md:mx-10 ">
                  <blockquote class="relative text-center p-2 w-full m-1">
                    It’s good to meet you, Dr. Banner. Your work on anti-electron collisions is unparalleled. And I’m a huge
                    fan of the way you lose control and turn into an enormous green rage monster.
                    <cite> - Tony Stark</cite>
                  </blockquote>
                </section>
              </div>
            </div>
          </div>
        </section>
  
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <img src="https://images.unsplash.com/photo-1465865321835-0e0619025923?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Reporting" />
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Reporting</h4>
            <p class="text-gray-600 mb-8">Our Smart Health Monitoring Wristwatch can generate a comprehensive report on your vitals depending on your settings either daily, weekly, monthly, quarterly or yearly.</p>
          </div>
        </div>

        <section>
          <div class="bg-gray-50">
            <div class="mx-auto max-w-4xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
              <div class="max-w-[30%] mt-8 flex lg:mt-0 lg:flex-shrink-0">
                <div class="inline-flex rounded-md">
                  <img class="mx-auto h-16 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                </div>
                <div class="ml-3 inline-flex rounded-md">
                  <p class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-600">Person or Company Name</a>
                </div>
              </div>
              <div class="max-w-[70%]">
                <section class="component rounded-md border border-transparent bg-gray-300 p-2 mx-1 md:mx-10 ">
                  <blockquote class="relative text-center p-2 w-full m-1">
                    It’s good to meet you, Dr. Banner. Your work on anti-electron collisions is unparalleled. And I’m a huge
                    fan of the way you lose control and turn into an enormous green rage monster.
                    <cite> - Tony Stark</cite>
                  </blockquote>
                </section>
              </div>
            </div>
          </div>
        </section>
  
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Syncing</h4>
            <p class="text-gray-600 mb-8">Our Smart Health Monitoring Wristwatch allows you to sync data across all your mobile devices whether iOS, Android or Windows OS and also to your laptop whether MacOS, GNU/Linux or Windows OS.</p>
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <img src="https://images.unsplash.com/photo-1519056312994-33952f238fac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1262&q=80" alt="Syncing" />
          </div>
        </div>
      </section>

      <section>
        <div class="bg-gray-50">
          <div class="mx-auto max-w-4xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
            <div class="max-w-[30%] mt-8 flex lg:mt-0 lg:flex-shrink-0">
              <div class="inline-flex rounded-md">
                <img class="mx-auto h-16 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
              </div>
              <div class="ml-3 inline-flex rounded-md">
                <p class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-600">Person or Company Name</a>
              </div>
            </div>
            <div class="max-w-[70%]">
              <section class="component rounded-md border border-transparent bg-gray-300 p-2 mx-1 md:mx-10 ">
                <blockquote class="relative text-center p-2 w-full m-1">
                  It’s good to meet you, Dr. Banner. Your work on anti-electron collisions is unparalleled. And I’m a huge
                  fan of the way you lose control and turn into an enormous green rage monster.
                  <cite> - Tony Stark</cite>
                </blockquote>
              </section>
            </div>
          </div>
        </div>
      </section>

    <!-- {{ content | safe }} -->

</div>